.about{
    font-size: 1.1rem;
}
.footer{
    padding: 40px 10px;
    text-align: center;
}
.small-logo{
    padding: 2px 10px;
}
.footer p{
    /* font-size: 35px; */
    text-align: center;
}
.small-logo:hover{
    color: lightslategrey;
}
.first-half-quote{
    background-color: darkslategray;
    padding: 35%;
}
.full-quote{
    padding: 30px;
}
.second-half-quote{
    background-color: lightblue;
    padding: 2%;
}
.ind-quote-logo:hover{
    color: darkblue;
}
.quote-index{
    padding-top: 20px;
}
@media screen and (max-width :1000px) {
    .about{
        font-size: 1.5rem;
    }
}